<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
<form method="post">
<div style="text-align : center;">
<img src="./logo.jpg" width="300px", height="80px" >
</div>
<table align=center>
<tr><td colspan=2 align=center height=40><b>아이디 찾기 </b></td></tr>
<tr>
    <td align=right>이메일&nbsp;</td>
    <td><input type="e-mail" name="mail">
    </td>
</tr>
<tr>
    <td colspan=2 align=center height=50>
        <input type="submit" value="아이디 찾기">
    </td>
</tr>
</table>
</form>
</body>
</html>