<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <meta charset="UTF-8">
</head>
<body>
<form action="signup.jsp" method="post">
  <div style="text-align: center;">
    <img src="/resources/images/logo.jpg" width="300px", height="80px" >
    <select style="float: right;" onchange="if(this.value) location.href=(this.value);">
      <option value="" >마이 페이지</option>
      <option value="user/update">개인 정보 수정</option>
      <option value="">로그아웃</option>
    </select>
  </div>
</form>
</body>
</html>